<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Signup for a New Account</h2>

    <div class="content">
      <% if flash.has?(:message) %>
        <p class="red"><b><%= flash[:message] %></b></p>
      <% end %>
      <form method="post" action="/signup">
        <label for="username">Username:</label>
          <input type="text" id="username" name="user[username]"/>
          <br></br>

        <label for="email">Email:</label>
          <input type="email" id="email" name="user[email]"/>
          <br></br>

        <label for="password">Password:</label>
          <input type="password" id="password" name="user[password]"/>
          <br></br>

        <input type="submit" value="Create Account"/>
        <br></br>
      </form>
    </div>

    <div class="sidebar">
      <img src="images/pill-bottle.jpg" class="img-responsive main-image">
    </div>

  </div>
</div>
