<div class="container">
  <header><img src="" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Medication Tracker</h2>

    <div class="content">
      <p>Our mission is to help you be your healthiest by tracking all your medications and when you need refills.</p>
      <p>With your account, you'll create a clear, easy to read, detailed account of all medications, for those moments at the doctor's office</p>
      <p>And you'll get notices about when it's time to order a refill</p>
      <p>We want to make your life easier, and give you one less thing perpetually on your mind.</p>
      <br></br>
      <p><a href="/login">Login to your account</a></p>
      <p><a href="/signup">Signup for a new account</a></p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
